
/* Your CSS Code here. */
table , thead , tr , td {
	border:1px solid black;
}

.table1{
	display:flex;
	justify-content:center;
	flex-direction:column;
}

.htmlm{
	background-color:black;
	color:white;
}